path {
	fill: none;
	stroke: inherit;
	stroke-width: 6px;
}
svg {
	z-index: $chart-z-index;
	position: absolute;
	pointer-events: none;
	user-select: none;
	cursor: default;
	fill: inherit;
	stroke: inherit;
	bottom: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 7em);
}
.axis {
	&.y { display: none; }
}
.tick line {
	stroke-width: 3px;
}
.prediction {
	stroke-width: 4px;
	stroke-dasharray: 15 10;
}
.background {
	opacity: .5;
}
text {
	stroke: none;
}
