path {
	fill: none;
	stroke: $base-font-color;
	stroke-width: 6px;
}
svg {
	position: absolute;
	z-index: 1;
	user-select: none;
	cursor: default;
	fill: $base-font-color;
	top: 4em;
	left: 0;
	width: 100%;
	height: calc(100% - 4.5em);
}
.axis {
	&.y { display: none; }
}
.prediction {
	stroke-width: 4px;
	stroke-dasharray: 15 10;
}
.background {
	opacity: .5;
}
