.data-sheet {
	user-select: none;
	font-weight: bold;

	position: absolute;
	top: 3.3em;

	h2 {
		font-size: 1.2em;
	}
	h2, strong {
		font-weight: 300;
	}
	animation: blink-a .7s linear 1 normal;

	&.toggle-animation {
		animation: blink-b .7s linear 1 normal;
	}
}

@keyframes blink-a {
	  0% { opacity: 0; }
	 10% { opacity: 1; }
	 20% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes blink-b {
	  0% { opacity: 0; }
	 10% { opacity: 1; }
	 20% { opacity: 0; }
	100% { opacity: 1; }
}
