.publications-list {
	position: absolute;
	z-index: $form-z-index + 1;

	top: 1.5em;
	right: 1.5em;

	width: 1.5em;
	height: 1.5em;
	overflow: hidden;

	@extend %main-colors;

	li {
		display: none;
		cursor: pointer;
		margin: 0 -.5em;
		padding-left: 1.5em;
		padding-right: .5em;
		text-indent: -1em;
		&:hover {
			background-color: $base-font-color;
			color: #000;
		}
	}

	&:before {
		font: 2em/.5em sans-serif;
		font-weight: bold;
		content: '≔';
	}

	&:hover {
		background: rgba(#000, .8);
		bottom: 0;
		right: 0;
		top: 0;
		padding: .5em;
		overflow: auto;
		width: 15em;
		height: auto;
		max-width: 80%;
		&:before {
			display: none;
		}
		li {
			display: block;
		}
	}
}
.half-life {
	font-weight: 300;
}
