.photogenic {
	overflow: hidden;
	margin: 0;
	padding: 0;
	nav, .credits {
		display: none;
	}
	form {
		font-size: .8em;
		padding: .5em;
		margin: 0;
		height: 2.2em;
	}
	.icon-search {
		top: .5em;
		left: .5em;
	}
	.data-sheet {
		top: 1.68em;
	}
	#main-chart {
		margin: $base-spacing;
		top: 2.8em;
		left: 0;
		width: 100vw;
		height: calc(100vh - 2.8em);
		max-width: 100vw !important;
		max-height: calc(100vh - 2.5em) !important;
	}
	.tt-hint, .tt-input {
		width: 100% !important;
	}
	&, * {
		transition: none !important;
		animation: none !important;
	}
}
