@media screen and (max-width: 600px), screen and (max-height: 600px) {
	body {
		font-size: 20px;
	}
	svg {
		stroke-width: 10px;
	}
	text.max {
		text-align: left;
	}
	.axis {
		font-size: 1.8em;
	}
}
@media screen and (max-width: 400px) {
	#modals-pane {
		.embed, .about span {
			display: none;
		}
		.about a:before {
			content: "?";
			font-size: 2em;
			line-height: 1.3em;
		}
	}
	.tt-hint, .tt-input {
		width: calc(100% - .1em) !important;
	}
}
