@charset "UTF-8";

@import 'bourbon/bourbon';
@import 'base/base';
@import 'chart';
@import 'data-sheet';
@import 'form';

html, body {
	height: 100%;
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 1em;
	position: relative;
	font-weight: bold;
	text-shadow: 0 0 15px rgba(lighten($base-font-color, 10%), .8);
}

.hidden {
	display: none;
}
