@charset "UTF-8";

@import 'webfonts';
@import 'bourbon/bourbon';
@import 'base/base';
@import 'chart';
@import 'data-sheet';
@import 'form';
@import 'list';
@import 'autocomplete';
@import 'responsive';

html, body {
	height: 100%;
	box-sizing: border-box;
}

%main-background {
	transition: background 1s ease;
}
%main-foreground {
	transition: color 1s ease;
}
%main-colors {
	transition: color 1s ease, background 1s ease;
}

body {
	@extend %main-colors;
	margin: 0;
	padding: $base-spacing;
	position: relative;
	font-weight: bold;
	// text-shadow: 0 0 15px rgba(lighten($base-font-color, 10%), .8);
}

.hidden {
	display: none;
}

